[core]
	editor = vim

[include]
	path = ~/.gitconfig.user

[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[init]
        defaultBranch = main
